<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Url Shortner</h1>

    <% if (locals.shortId) { %>
        <p>Your Short Url is http://localhost:8080/shortUrl/<%= locals.shortId %></p>
    <% } %>
    <div style="display: flex;">
        <form method="POST" action="/shortUrl">
            <label for="">Enter Your Url</label>
            <input type="text" name="shortUrl" placeholder="ex- https://xyz.com">
            <button type="submit">
                Generate
            </button>
        </form>
        <button style="background-color: red;" id="deleteButton"> Delete </button>
    </div>
    <div id="deleteDiv">
        <form method="POST" action="/shortUrl">
        <input type="hidden" name="_method" value="DELETE">
        <input type="text" placeholder="enter your short url" name="shortUrl">
        <button style="background-color: red; color: greenyellow;">Delete From Here</button>
    </form>
    </div>

    <% if (locals.urls) { %>
        <table border="2">
            <thead>
                <tr>
                    <th>Redirect websites</th>
                    <th>Short Url</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                <% urls.forEach(url => { %>
                    <tr>
                        <td><%= url.redirectUrl %></td>
                        <td><%= url.shortId %></td>
                        <td><%= url.details.length %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    <% } %>  
    
</body>
</html>