<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <h1>SignUp form</h1>
    <form method="post" action="/users">
        <label for="">Enter your full name</label>
        <input type="text" required name="name">
        <label for="">Email</label>
        <input type="text" required name="email">
        <label for="">PassWord</label>
        <input type="text" required name="password">
        <button type="submit">Submit</button>
    </form>
</body>
</html>